@import "../_variables.scss";
@import "../global.scss";

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: $black;
  font-family: $body;
}

li a:hover {
  background-color: $ltblue;
  color: $white;
  border-radius: 25px;
}

/*----- SMALL -----*/

@media screen and (max-width: 40em) {
  li {
    float: none;
    display: block;
    width: 100%;
  }
}

/*----- MEDIUM -----*/

@media screen and (min-width: 40em) {
}

/*----- LARGE -----*/

@media screen and (min-width: 64em) {
}
