/*=====

Project		: 	College Application Tracker
Author 		: 	Ari Simon

Set 		: 	Application

=====*/
/*----- Utilities -------*/
/*=====

Project		: 	College Application Tracker
Author 		: 	Ari Simon

Set 		: 	Variables and Mixins

=====*/
/*----- COLORS -----*/
/* RGB */
/*----- FONTS -----*/
/*----- GRADIENTS -----*/
/*----- MIXINS -----*/
/*@mixin box-shadow 		{ box-shadow: 0 5px 40px 10px rgba(0, 0, 0, 0.2); }*/
/*----- LARGE -----*/
.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: "";
}

.row::after {
  clear: both;
}

[class*=col-] {
  float: left;
  /* Gutters:
  * Each column is padded by half-a-gutter on each side,
  *
  * Half a gutter is 10px, 10/960 (context) = 1.041666%
  *
  */
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
[class*=col-] {
  width: 100%;
}

/* Non-mobile, grid */
@media only screen and (min-width: 600px) {
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}
/*=====

Project     :   College Application Tracker
Author      :   Ari Simon

Set         :   Style Guide - Global Styles

=====*/
/*----- GLOBAL -----*/
* {
  font-family: "Roboto", sans-serif;
  outline: none;
  box-sizing: border-box;
}

body.noscroll {
  overflow: hidden;
}

hr.main {
  margin: 40px 4rem 60px 4rem;
  background: #494947;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

p {
  font-size: 16px;
}

p input[type=checkbox],
.help-text input[type=checkbox] {
  margin: 0;
}

.page {
  background: #FFFFFF;
  max-width: 2500px;
  margin: 0 auto;
}

span {
  color: inherit;
}

blockquote {
  border: none;
}

strong {
  font-family: inherit;
}

a.alert {
  color: #F79824;
}

strong,
em,
i {
  color: inherit;
  font-size: inherit;
}

ol li {
  margin-bottom: 1rem;
}
ol.level-two {
  list-style-type: upper-latin;
}
ol.level-three {
  list-style-type: upper-roman;
}
ol ul li {
  margin-bottom: 0.25rem;
}

.round-right {
  border-radius: 0 1000px 1000px 0;
}

.round-left {
  border-radius: 1000px 0 0 1000px;
}

.round-bottom {
  border-radius: 0 0 1000px 1000px;
}

.round-top {
  border-radius: 1000px 1000px 0 0;
}

.round-wrap {
  border-radius: 25px;
}

.button-shadow {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
}

.box-shadow {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
}

.border-radius {
  border-radius: 15px;
}

.text-center {
  text-align: center;
}

.text-green {
  color: #319600;
  font-style: normal;
}

.text-orange {
  color: #F79824;
  font-style: normal;
}

.text-ltblue {
  color: #33A1FD;
  font-style: normal;
}

.center-v {
  position: relative;
}
.center-v .copy {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.button {
  padding: 0.75rem 2rem;
  border-radius: 0;
  text-transform: uppercase;
  background-color: #33A1FD;
  font-style: normal;
  margin-bottom: 0;
}
.button.round {
  border-radius: 1000px;
}
.button:hover {
  background-color: #06162F;
}
.button.small {
  padding: 0.5rem 1.25rem;
}
.button.orange {
  background-color: #F79824;
  color: #FFFFFF;
}
.button.orange:hover {
  background-color: #2176FF;
  color: #FFFFFF;
}
.button.red {
  background-color: #A20021;
  color: #FFFFFF;
}
.button.red:hover {
  background-color: #F00;
  color: #FFFFFF;
}
.button.dkblue {
  background-color: #06162F;
  color: #FFFFFF;
}
.button.dkblue:hover {
  background-color: #33A1FD;
  color: #FFFFFF;
}
.button.mdblue {
  background-color: #2176FF;
  color: #FFFFFF;
}
.button.mdblue:hover {
  background-color: #33A1FD;
  color: #FFFFFF;
}
.button.green {
  background-color: #319600;
  color: #FFFFFF;
}
.button.green:hover {
  background-color: #33A1FD;
  color: #FFFFFF;
}
.button.white {
  background-color: #FFFFFF;
  color: #33A1FD;
}
.button.white.hollow {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}
.button.grey {
  background-color: #222221;
}
.button.grey:hover {
  background-color: #494947;
}
.button.grey.hollow {
  background-color: transparent;
  border: 1px solid #494947;
  color: #494947;
}
.button.round-left {
  border-radius: 1000px 0 0 1000px;
}

.top-right {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.bottom-right {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.logout {
  cursor: pointer;
}

.data-region {
  max-height: 45vh;
  overflow-y: auto;
}

dl dt {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0;
}
dl dd {
  margin-bottom: 1rem;
}

.position-relative {
  position: relative;
}

.center-vh {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-v {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/*----- VALIDATION ------*/
.validation {
  background: #FEE;
  border: solid 1px #900;
  margin-bottom: 10px;
}
.validation .error {
  margin: 10px;
  color: #900;
}

.err input {
  border: solid 1px #F00;
}
.err input:focus {
  border: solid 1px #F99;
}
.err textarea {
  border: solid 1px #F00;
}
.err textarea:focus {
  border: solid 1px #F99;
}
.err select {
  border: solid 1px #F00;
}
.err select:focus {
  border: solid 1px #F99;
}
.err .err-msg {
  display: inline-block;
  color: #F00;
  bottom: auto;
  top: 2px;
}

.err-msg {
  display: none;
}

.err-desc {
  color: #F00;
}

/*-------MEDIA QUERIES-------*/
/*----SMALL SCREENS----*/
@media only screen and (max-width: 575px) {
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}
/*---- MEDIUM SCREENS ----*/
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}
/*------ MEDIUM/LG SCREENS ---------*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}
/*------ XL SCREENS ---------*/
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}
/*----- Components -------*/
/*=====

Project		: 	College Application Tracker
Author 		: 	Ari Simon

Set 		: 	Variables and Mixins

=====*/
/*----- COLORS -----*/
/* RGB */
/*----- FONTS -----*/
/*----- GRADIENTS -----*/
/*----- MIXINS -----*/
/*@mixin box-shadow 		{ box-shadow: 0 5px 40px 10px rgba(0, 0, 0, 0.2); }*/
/*=====

Project     :   College Application Tracker
Author      :   Ari Simon

Set         :   Style Guide - Global Styles

=====*/
/*----- GLOBAL -----*/
* {
  font-family: "Roboto", sans-serif;
  outline: none;
  box-sizing: border-box;
}

body.noscroll {
  overflow: hidden;
}

hr.main {
  margin: 40px 4rem 60px 4rem;
  background: #494947;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

p {
  font-size: 16px;
}

p input[type=checkbox],
.help-text input[type=checkbox] {
  margin: 0;
}

.page {
  background: #FFFFFF;
  max-width: 2500px;
  margin: 0 auto;
}

span {
  color: inherit;
}

blockquote {
  border: none;
}

strong {
  font-family: inherit;
}

a.alert {
  color: #F79824;
}

strong,
em,
i {
  color: inherit;
  font-size: inherit;
}

ol li {
  margin-bottom: 1rem;
}
ol.level-two {
  list-style-type: upper-latin;
}
ol.level-three {
  list-style-type: upper-roman;
}
ol ul li {
  margin-bottom: 0.25rem;
}

.round-right {
  border-radius: 0 1000px 1000px 0;
}

.round-left {
  border-radius: 1000px 0 0 1000px;
}

.round-bottom {
  border-radius: 0 0 1000px 1000px;
}

.round-top {
  border-radius: 1000px 1000px 0 0;
}

.round-wrap {
  border-radius: 25px;
}

.button-shadow {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
}

.box-shadow {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.5);
}

.border-radius {
  border-radius: 15px;
}

.text-center {
  text-align: center;
}

.text-green {
  color: #319600;
  font-style: normal;
}

.text-orange {
  color: #F79824;
  font-style: normal;
}

.text-ltblue {
  color: #33A1FD;
  font-style: normal;
}

.center-v {
  position: relative;
}
.center-v .copy {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.button {
  padding: 0.75rem 2rem;
  border-radius: 0;
  text-transform: uppercase;
  background-color: #33A1FD;
  font-style: normal;
  margin-bottom: 0;
}
.button.round {
  border-radius: 1000px;
}
.button:hover {
  background-color: #06162F;
}
.button.small {
  padding: 0.5rem 1.25rem;
}
.button.orange {
  background-color: #F79824;
  color: #FFFFFF;
}
.button.orange:hover {
  background-color: #2176FF;
  color: #FFFFFF;
}
.button.red {
  background-color: #A20021;
  color: #FFFFFF;
}
.button.red:hover {
  background-color: #F00;
  color: #FFFFFF;
}
.button.dkblue {
  background-color: #06162F;
  color: #FFFFFF;
}
.button.dkblue:hover {
  background-color: #33A1FD;
  color: #FFFFFF;
}
.button.mdblue {
  background-color: #2176FF;
  color: #FFFFFF;
}
.button.mdblue:hover {
  background-color: #33A1FD;
  color: #FFFFFF;
}
.button.green {
  background-color: #319600;
  color: #FFFFFF;
}
.button.green:hover {
  background-color: #33A1FD;
  color: #FFFFFF;
}
.button.white {
  background-color: #FFFFFF;
  color: #33A1FD;
}
.button.white.hollow {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}
.button.grey {
  background-color: #222221;
}
.button.grey:hover {
  background-color: #494947;
}
.button.grey.hollow {
  background-color: transparent;
  border: 1px solid #494947;
  color: #494947;
}
.button.round-left {
  border-radius: 1000px 0 0 1000px;
}

.top-right {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.bottom-right {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.logout {
  cursor: pointer;
}

.data-region {
  max-height: 45vh;
  overflow-y: auto;
}

dl dt {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0;
}
dl dd {
  margin-bottom: 1rem;
}

.position-relative {
  position: relative;
}

.center-vh {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-v {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/*----- VALIDATION ------*/
.validation {
  background: #FEE;
  border: solid 1px #900;
  margin-bottom: 10px;
}
.validation .error {
  margin: 10px;
  color: #900;
}

.err input {
  border: solid 1px #F00;
}
.err input:focus {
  border: solid 1px #F99;
}
.err textarea {
  border: solid 1px #F00;
}
.err textarea:focus {
  border: solid 1px #F99;
}
.err select {
  border: solid 1px #F00;
}
.err select:focus {
  border: solid 1px #F99;
}
.err .err-msg {
  display: inline-block;
  color: #F00;
  bottom: auto;
  top: 2px;
}

.err-msg {
  display: none;
}

.err-desc {
  color: #F00;
}

/*-------MEDIA QUERIES-------*/
/*----SMALL SCREENS----*/
@media only screen and (max-width: 575px) {
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}
/*---- MEDIUM SCREENS ----*/
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}
/*------ MEDIUM/LG SCREENS ---------*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}
/*------ XL SCREENS ---------*/
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #000000;
  font-family: "Roboto", sans-serif;
}

li a:hover {
  background-color: #33A1FD;
  color: #FFFFFF;
}

/*-------MEDIA QUERIES-------*/
/*----SMALL SCREENS----*/
@media only screen and (max-width: 575px) {
  li {
    float: none;
    display: block;
    width: 100%;
  }
}
/*---- MEDIUM SCREENS ----*/
/*------ MEDIUM/LG SCREENS ---------*/
/*------ XL SCREENS ---------*/
/*=====

Project		: 	College Application Tracker
Author 		: 	Ari Simon

Set 		: 	Variables and Mixins

=====*/
/*----- COLORS -----*/
/* RGB */
/*----- FONTS -----*/
/*----- GRADIENTS -----*/
/*----- MIXINS -----*/
/*@mixin box-shadow 		{ box-shadow: 0 5px 40px 10px rgba(0, 0, 0, 0.2); }*/
/*----- LARGE -----*/
.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: "";
}

.row::after {
  clear: both;
}

[class*=col-] {
  float: left;
  /* Gutters:
  * Each column is padded by half-a-gutter on each side,
  *
  * Half a gutter is 10px, 10/960 (context) = 1.041666%
  *
  */
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
[class*=col-] {
  width: 100%;
}

/* Non-mobile, grid */
@media only screen and (min-width: 600px) {
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/*-------MEDIA QUERIES-------*/
/*----SMALL SCREENS----*/
/*---- MEDIUM SCREENS ----*/
/*------ MEDIUM/LG SCREENS ---------*/
/*------ XL SCREENS ---------*/
/*=====

Project		: 	College Application Tracker
Author 		: 	Ari Simon

Set 		: 	Variables and Mixins

=====*/
/*----- COLORS -----*/
/* RGB */
/*----- FONTS -----*/
/*----- GRADIENTS -----*/
/*----- MIXINS -----*/
/*@mixin box-shadow 		{ box-shadow: 0 5px 40px 10px rgba(0, 0, 0, 0.2); }*/
/*----- LARGE -----*/
.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: "";
}

.row::after {
  clear: both;
}

[class*=col-] {
  float: left;
  /* Gutters:
  * Each column is padded by half-a-gutter on each side,
  *
  * Half a gutter is 10px, 10/960 (context) = 1.041666%
  *
  */
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

/* Mobile defaults */
[class*=col-] {
  width: 100%;
}

/* Non-mobile, grid */
@media only screen and (min-width: 600px) {
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}
#hero-section {
  text-align: center;
}

/*-------MEDIA QUERIES-------*/
/*----SMALL SCREENS----*/
@media only screen and (max-width: 575px) {
  #highlights {
    text-align: center;
  }
}
/*---- MEDIUM SCREENS ----*/
/*------ MEDIUM/LG SCREENS ---------*/
/*------ XL SCREENS ---------*/
#not-found {
  left: 0;
  line-height: 200px;
  margin: auto;
  margin-top: -100px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.application-card {
  border: 1px solid black;
  padding: 5px;
}

.container {
  margin: 0 auto;
}

/*# sourceMappingURL=app.css.map */
