/*=====

Project		: 	College Application Tracker
Author 		: 	Ari Simon

Set 		: 	Application

=====*/


/*----- Utilities -------*/
@import "_variables.scss";
@import "_global.scss";
@import "_grid.scss";


/*----- Components -------*/

