/*=====

Project		: 	College Application Tracker
Author 		: 	Ari Simon

Set 		: 	Application

=====*/


/*----- Utilities -------*/
@import "variables";
@import "grid";
@import "global";



/*----- Components -------*/
@import "components/navbar";
@import "components/footer";
@import "components/landing";
@import "components/registration";
@import "components/login";
@import "components/404";
@import "components/dashboard";
