/*=====

Project		: 	College Application Tracker
Author 		: 	Ari Simon

Set 		: 	Application

=====*/


/*----- Utilities -------*/
@import "variables";
@import "grid";
@import "global";



/*----- Components -------*/
@import "components/navbar";
@import "components/footer";
@import "components/landing";
