/*=====

Project		: 	College Application Tracker
Author 		: 	Ari Simon

Set 		: 	Style Guide - Global Styles

=====*/



/*----- GLOBAL -----*/

	* 					{ font-family: $body; outline: none; box-sizing: border-box;}

	body 				{ 
		&.noscroll 			{ overflow: hidden; }
	}

	h1, h2, h3, h4, h5, h6 		{ font-family: $header; font-weight: 400; }

	h1 					{  }
	h2 					{  }
	h3 					{  }
	h4 					{  }
	h5 					{  }
	h6 					{  }

	p 					{  }

	p, .help-text 			{
		input[type=checkbox] 	{ margin: 0; }
	}



	span 				{ color: inherit; }

	blockquote 			{ border: none; }
	strong 				{ font-family: inherit; }



	a 					{ 
		&.alert 			{ color: $orange; }
	}

	strong, em, i 		{ color: inherit; font-size: inherit; }

	ol 					{
		li 					{ margin-bottom: 1rem; }
		&.level-one 		{}
		&.level-two 		{ list-style-type: upper-latin; }
		&.level-three 		{ list-style-type: upper-roman; }
		ul 					{
			li 					 { margin-bottom: 0.25rem; }
		}
	}

	.page 				{ background: $white; max-width: 2500px; margin: 0 auto; }

	.round-right 		{ border-radius: 0 1000px 1000px 0; }
	.round-left 		{ border-radius: 1000px 0 0 1000px; }
	.round-bottom 		{ border-radius: 0 0 1000px 1000px; }
	.round-top 			{ border-radius: 1000px 1000px 0 0; }
	.round-wrap 		{ border-radius: 25px; }
	.button-shadow 		{ @include button-shadow; }
	.box-shadow 		{ @include box-shadow; }
	.border-radius 		{ border-radius: 15px; }


	.text-green 		{ color: $green; font-style: normal; }
	.text-orange 		{ color: $orange; font-style: normal; }
	.text-ltblue 		{ color: $ltblue; font-style: normal; }


	.center-v 			{ position: relative;
		.copy 				{ @include center-v; }
	}

	.button 			{ padding: 0.75rem 2rem; border-radius: 0; text-transform: uppercase; background-color: $ltblue; font-style: normal; margin-bottom: 0;
		&.round 			{ border-radius: 1000px; }
		&:hover 			{ background-color: $dkblue; }
		&.small 			{ padding: 0.5rem 1.25rem; }

		&.orange 			{ background-color: $orange; color: $white; 
			&:hover 			{ background-color: $mdblue; color: $white; }
		}

		&.dkblue 			{ background-color: $dkblue; color: $white; 
			&:hover 			{ background-color: $ltblue; color: $white; }
		}

		&.mdblue 			{ background-color: $mdblue; color: $white; 
			&:hover 			{ background-color: $ltblue; color: $white; }
		}

		&.green 			{ background-color: $green; color: $white; 
			&:hover 			{ background-color: $ltblue; color: $white; }
		}
		
		&.white 			{ background-color: $white; color: $ltblue; 
			&.hollow 			{ background-color: transparent; border: 1px solid $white; color: $white; }
		}

		&.grey 				{ background-color: $dkgrey;
			&:hover 			{ background-color: $grey; }
			&.hollow 			{ background-color: transparent; border: 1px solid $grey; color: $grey; }
		}

		&.round-left 		{ border-radius: 1000px 0 0 1000px; }
	}


	.top-right 			{ position: absolute; top: 1rem; right: 1rem; }
	.bottom-right 		{ position: absolute; bottom: 1rem; right: 1rem; }

	.logout 			{ cursor: pointer; }
	.data-region 		{ max-height: 45vh; overflow-y: auto; }



	dl 					{
		dt 					{ font-family: $header; font-weight: 400; font-size: 1.25rem; margin: 0; }
		dd 					{ margin-bottom: 1rem; }
	}

	

	table 				{
		
	}


	
.position-relative 	{ position: relative; }
.center-vh 			{ @include center-vh; }
.center-v 			{ @include center-v; }



/*----- VALIDATION ------*/

	.validation { background: #FEE; border: solid 1px #900; margin-bottom: 10px;
		.error { margin: 10px; color: #900; }
	}
	
	.err {
		input { border: solid 1px #F00;
			&:focus { border: solid 1px #F99; }
		}
		textarea { border: solid 1px #F00;
			&:focus { border: solid 1px #F99; }
		}
		select { border: solid 1px #F00;
			&:focus { border: solid 1px #F99; }
		}
		.err-msg { display: inline-block; color: #F00; bottom: auto; top: 2px; }
	} 
	.err-msg { display: none; }
	.err-desc { color: #F00; }



/*----- SMALL -----*/

@media screen and ( max-width: 40em ) {


}


/*----- MEDIUM -----*/

@media screen and ( min-width: 40em ) {

	
}


/*----- LARGE -----*/

@media screen and ( min-width: 64em ) {


	
}

