/*=====

Project		: 	College Application Tracker
Author 		: 	Ari Simon

Set 		: 	Application

=====*/


/*----- Utilities -------*/
@import "_variables.scss";
@import "grid.scss";
@import "global.scss";



/*----- Components -------*/
@import "./components/navbar.scss";
